%body.main-view
	%nav.center-menu
		%h1#website-title
			instituto
			%br>/
			de
			%br>/
			Pócima
			%br>/
			visual
		#lesson-list
		%button#start-btn{:type => "button"}
			%h1 Start
	%main.center-menu
		%section#lesson-content.focus
	%template
		%section#start.focus{:next => "preparation"}
		%section#artists.focus{"lesson-title" => "artists", :structure => "content"}
		%section#project.focus{"lesson-title" => "About this project", :structure => "content"}
		%section#preparation.focus{"lesson-title" => "About this project", :structure => "content"}
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf
			%p sdfsdfsf