%section{:id => id,"lesson-title" => (title if defined?(title)), :structure => (structure if defined?(structure)), :nav => (nav if defined?(nav)), :next => (node_next if defined?(node_next))}
  = node_content if defined?(node_content)