:root {
	--theme-color: #006771;
	--light-theme-color: #5BA7AE;
	--highlight-color: #FF3E5E;
	--border-width: 4rem;
	--nav-width: calc(16rem + 5%);
	--focus-border: 2px solid var(--theme-color);
	background-color: white;
	color: var(--theme-color);
	font-size: 16px;
	margin: 0;
	overflow: hidden;
}

nav * {
	font: normal 600 1.25rem "Mali", sans-serif;
}

p, li {
	font: normal 500 1rem "Mali", sans-serif;
}

main a {
	color: var(--light-theme-color);
}

a {
	text-decoration: none;
}

video {
	width: 100%;
}

button {
	border: none;
	color: var(--theme-color);
	background-color: transparent;
	cursor: pointer;
}

#lesson-list {
	padding: 0;
}

nav a {
	display: block;
	margin: 0.5rem 0;
}

section {
	padding: 5%;
}

img {
	max-width: 100%;
}

button:hover, a:hover {
	color: var(--highlight-color);
}

#website-title {
	font: normal bold 1.5rem "Mali", sans-serif;
	width: min-content;
	margin-bottom: 4ex;
	cursor: pointer;
}

#website-title:hover, #website-title:active {
	background-color: var(--theme-color);
	color: white;
}

.title, h1 {
	font: normal 600 1.5rem "Mali", sans-serif;
}

.commentary-text {
	font: normal normal 1rem "Mali", sans-serif;
}

.poetic-title, main h2 {
	font: 3rem "Indie Flower", sans-serif;
}

.poetic-p {
	font: 1rem "Indie Flower", sans-serif;
	color: black;
}

.center-menu {
	position: absolute;
	top: 50%;
	left: var(--border-width);
	margin: 0;
	padding: 1.5ex 3rem;
	transform: translateY(-50%);
	width: 25rem;
	height: 35rem;
	box-sizing: border-box;
	overflow: hidden;
}

.hide { display: none; }

.overflow-y-scroll { overflow-y: scroll; }
.overflow-x-scroll { overflow-x: scroll; }

/* side by side wiget (left and right tag) */

.side-by-side {
	display: flex;
	flex-direction: row;
	gap: 5%;
	padding-bottom: 0;
}

.left, .right {
	width: 45%;
}

.right { order: 2 }
.left  { order: 1 }

/* gallery tag */

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery > img {
	width: 30%;
	height: intrinsic;
	margin: 1%;
	cursor: pointer;
}

/* pdf tag */

.pdf-link {
	border: var(--focus-border);
	cursor: pointer;
}

.pdf-link:hover, .pdf-link:active {
	background-color: var(--theme-color);
	color: white;
	transition: all ease-in-out 0.25s;
}

.pdf-instruction {
	
}

.pdf-title {
}

/* Media popup*/

#popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

#popup-image, #popup-pdf {
	width: 100%;
	padding: 3rem calc(3rem + var(--border-width)) 0 calc(3rem + var(--border-width));
	height: calc(100% - 6rem);
	object-fit: contain;
	box-sizing: border-box;
}

#popup-pdf {
	height: 100vh;
	padding-bottom: 3rem;
}

#popup-image-text {
	text-align: center;
	margin-top: 0;
	margin-right: var(--border-width);
	color: white;
	font: normal normal 1rem "Mali", sans-serif;
}

#close-popup-btn {
	position: absolute;
	top: var(--border-width);
	right: var(--border-width);
	width: 3rem;
}

/* nav bar highlight*/

a.highlight { color: var(--theme-color); }
nav a {color: var(--light-theme-color)};

/* Structure: Main */

body.main-view {
	display: block;
}

body.main-view #website-icon-image {
	display: none;
}

body.main-view #website-icon-text {
	display: block;
	margin-bottom: 2rem;
}

body.main-view nav a {
	color: var(--theme-color);
	margin-bottom: 1.5rem;
}

body.main-view nav a:hover {
	color: var(--highlight-color);
}

body.main-view > main {
	padding: 0;
}

body.main-view .lesson-content {
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

body.main-view #cover {
	display: block;
}

#website-icon-text h1:nth-child(1) {
	font-size: 3rem;
	margin-bottom: 0;
}

#website-icon-text h1:nth-child(2) {
	font-size: 1rem;
}

#website-icon-text hr:nth-child(3) {
	margin-bottom: 0;
	margin-top: 24px;
	border: 1px solid var(--theme-color);
}

#website-icon-text h1:nth-child(4) {
	margin: 0;
	font-size: 1rem;
	font-style: italic;
}

body.main-view #start-btn {
	display: block;
	justify-self: end;
	margin-top: auto;
}

/* Structure Content */

body {
	width: 100vw;
	height: auto;
	overflow: hidden;
}

nav {
	position: absolute;
	top: 50%;
	left: var(--border-width);
	transform: translate(0%, -50%);
	width: var(--nav-width);
	height: 35rem;
	padding: 1.5ex 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	transition: left ease-in-out 1s, transform ease-in-out 1s;
	-webkit-transition: left ease-in-out 1s, transform ease-in-out 1s, top ease-in-out 1s;
	box-sizing: border-box;
	z-index: 2;
}

main {
	position: absolute;
	top: 0;
	left: calc(var(--border-width) + var(--nav-width));
	padding-top: var(--border-width);
	padding-right: var(--border-width);
	padding-bottom: calc( 1.5 * var(--border-width));
	padding-left: 0;
	width: calc(100% - var(--border-width) - var(--nav-width));
	height: 100%;
	transition: all linear 1s;
	-webkit-transition: all linear 1s;
	box-sizing: border-box;
	z-index: 1;
}

.lesson-content {
	min-height: 100%;
	border: var(--focus-border);
	box-sizing: border-box;
	overflow-x: hidden;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lesson-content > * {
	width: 100%;
	max-width: 60rem;
}

#cover {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	height: 100vh;
	width: calc(100vw - var(--border-width) - 27rem);
	padding-left: calc(var(--border-width) + 27rem);
	object-fit: contain;
	transform: translateY(-50%);
	box-sizing: content-box;
}

#start-btn {
	display: none;
}

#website-icon-image {
	display: block;
	width: 10rem;
	height: 10rem;
	margin-bottom: 2rem;
	cursor: pointer;
	background: url("../img/logo_01.svg") no-repeat;
}

#website-icon-image:hover, #website-icon-image:active {
	background: url("../img/logo_02.svg") no-repeat;
}

#website-icon-text {
	display: none;
}

#next-lesson-btn {
	position: absolute;
	right: var(--border-width);
}

#next-lesson-btn > h1 {
	margin: 0;
	margin-top: 1rem;
}

/* Structure: Choice */

body.choice-view main {
	padding-bottom: var(--border-width);
}

body.choice-view .lesson-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	margin-left: -1rem;
	margin-right: -1rem;
	border: none;
	width: max-content;
	min-width: 100%;
	height: 100%;
	padding: 0;
	overflow-y: hidden;
}

body.choice-view .lesson-content > * {
	width: 30rem;
	height: 100%;
	margin-left: 1rem;
	margin-right: 1rem;
	border: var(--focus-border);
	box-sizing: border-box;
}

body.choice-view .lesson-content > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	padding: 3rem;
}

body.choice-view .lesson-content h1 {
	margin: 0;
}

body.choice-view .lesson-content p {
	width: 100%;
}

body.choice-view .lesson-content img {
	width: 100%;
	object-fit: contain;
}

body.choice-view .lesson-content > section > * {
	display: none;
}

body.choice-view .lesson-content > section:hover > * {
	display: block;
}

body.choice-view .lesson-content > section:hover img,
body.choice-view .lesson-content > section:hover h1,
body.choice-view .lesson-content > section:hover p:nth-child(2) {
	display: none;
}

body.choice-view .lesson-content img,
body.choice-view .lesson-content h1,
body.choice-view .lesson-content p:nth-child(2) {
	display: block;
}

body.choice-view .lesson-content > section:hover,
body.choice-view .lesson-content > section:active {
	background-color: var(--theme-color);
	color: white;
	transition: all ease-in-out 0.25s;
}

/* Structure: Resource */

body.resource-view .lesson-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 100%;
	margin: -1rem;
	flex-wrap: wrap;
	border: none;
	width: 100%;
	padding: 0;
}

body.resource-view .lesson-content > * {
	width: 18rem;
	height: 18rem;
	margin: 1rem;
	border: var(--focus-border);
}

/* Structure: Cinema */

body.cinema-view nav {
	top: 0;
	left: 0;
	transform: translate(0, 0);
}

body.cinema-view #website-icon-image {
	width: 6rem;
}

body.cinema-view main {
	padding-left: var(--border-width);
	width: 100vw;
	left: 0;
	height: 100vh;
}

body.cinema-view .lesson-content {
	padding: 0;
	border: none;
	height: 100%;
	overflow-y: hidden;
}

/* Inner content styles */

main p {
	padding: 1rem 0;
	margin: 0;
	box-sizing: content-box;
}

main video {
	margin: 1rem 0;
}

main h1 {
	width: 100%;
}

iframe#conjure-project {
	width: 100%;
	height: 100%;
}

@media screen and (orientation:portrait) {
	
}