:root {
	--theme-color: #006771;
	--light-theme-color: #5BA7AE;
	--highlight-color: #FF3E5E;
	--border-width: 4rem;
	--nav-width: calc(16rem + 5%);
	--focus-border: 2px solid var(--theme-color);
	background-color: white;
	color: var(--theme-color);
	font-size: 16px;
	margin: 0;
	overflow: hidden;
}

nav * {
	font: normal 600 1.25rem "Mali", sans-serif;
}

p {
	font: normal 500 1rem "Mali", sans-serif;
}

main a {
	color: var(--light-theme-color);
}

a {
	text-decoration: none;
}

video {
	width: 100%;
}

button {
	border: none;
	color: var(--theme-color);
	background-color: transparent;
	cursor: pointer;
}

#lesson-list {
	padding: 0;
}

nav a {
	display: block;
	margin: 0.5rem 0;
}

section {
	padding: 5%;
}

img {
	max-width: 100%;
}

/* a:visited {
	color: unset;
} */

button:hover, a:hover {
	color: var(--highlight-color);
}

#website-title {
	font: normal bold 1.5rem "Mali", sans-serif;
	width: min-content;
	margin-bottom: 4ex;
	cursor: pointer;
}

#website-title:hover, #website-title:active {
	background-color: var(--theme-color);
	color: white;
}

.title, h1 {
	font: normal 600 1.5rem "Mali", sans-serif;
}

.commentary-text {
	font: normal normal 1rem "Mali", sans-serif;
}

.poetic-title, main h2 {
	font: 4rem "Indie Flower", sans-serif;
}

.poetic-p {
	font: 1rem "Indie Flower", sans-serif;
	color: black;
}

.center-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 1.5ex 3rem;
	transform: translate(-50%, -50%);
	width: 25rem;
	height: 35rem;
	box-sizing: border-box;
	overflow: hidden;
}

.hide { display: none; }

.overflow-y-scroll { overflow-y: scroll; }
.overflow-x-scroll { overflow-x: scroll; }

.side-by-side {
	display: flex;
	flex-direction: row;
	gap: 5%;
	padding-bottom: 0;
}

.left, .right {
	width: 45%;
}

.right { order: 2 }
.left  { order: 1 }

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: -1%;
}

.gallery > img {
	width: 30%;
	height: intrinsic;
	margin: 1%;
}

/* nav bar highlight*/

a.highlight { color: var(--theme-color); }
nav a {color: var(--light-theme-color)};

/* Structure: Main */

body.main-view {
	display: block;
}

body.main-view #website-title {
	pointer-events: none;
}

body.main-view > nav {
	left: 50%;
	transform: translate(-50%, -50%);
}

body.main-view nav a {
	color: var(--theme-color);
}

body.main-view > main {
	padding: 0;
}

body.main-view .lesson-content {
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

body.main-view #start-btn {
	display: block;
	justify-self: end;
	margin-top: auto;
}

/* Structure Content */

body {
	width: 100vw;
	height: auto;
	overflow: hidden;
}

nav {
	position: absolute;
	top: 50%;
	left: var(--border-width);
	transform: translate(0%, -50%);
	width: var(--nav-width);
	height: 35rem;
	padding: 1.5ex 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	transition: left ease-in-out 1s, transform ease-in-out 1s;
	-webkit-transition: left ease-in-out 1s, transform ease-in-out 1s;
	box-sizing: border-box;
	z-index: 2;
}

main {
	position: absolute;
	top: 0;
	left: calc(var(--border-width) + var(--nav-width));
	padding-top: var(--border-width);
	padding-right: var(--border-width);
	padding-bottom: calc( 1.5 * var(--border-width));
	padding-left: 0;
	width: calc(100% - var(--border-width) - var(--nav-width));
	height: 100%;
	transition: all linear 1s;
	-webkit-transition: all linear 1s;
	box-sizing: border-box;
	z-index: 1;
}

.lesson-content {
	min-height: calc(100% - (2 * var(--border-width)));
	border: var(--focus-border);
	box-sizing: border-box;
	overflow-x: hidden;
	padding: 2rem;
}

#start-btn {
	display: none;
}

#next-lesson-btn {
	position: absolute;
	right: var(--border-width);
}

#next-lesson-btn > h1 {
	margin: 0;
	margin-top: 1rem;
}

/* Structure: Choice */

body.choice-view .lesson-content {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: -1rem;
	margin-right: -1rem;
	border: none;
	width: max-content;
	min-width: 100%;
	height: calc(100% - (2 * var(--border-width)));
	padding: 0;
}

body.choice-view .lesson-content > * {
	width: 30rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border: var(--focus-border);
	box-sizing: border-box;
}

body.choice-view .lesson-content > section {
	cursor: pointer;
}

body.choice-view .lesson-content > section:hover,
body.choice-view .lesson-content > section:active {
	background-color: var(--theme-color);
	color: white;
	transition: all ease-in-out 0.25s;
}

/* Structure: Resource */

body.resource-view .lesson-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 100%;
	margin: -1rem;
	flex-wrap: wrap;
	border: none;
	width: 100%;
	padding: 0;
}

body.resource-view .lesson-content > * {
	width: 20rem;
	height: 20rem;
	margin: 1rem;
	border: var(--focus-border);
}

/* Image popup*/
#image-popup {
	background-color: rgba(255,255,255,0.5);
}

/* Inner content styles */

main p {

}

@media screen and (orientation:portrait) {
	
}